<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>

      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="../stylesheets/lib/materialize.min.css"  media="screen,projection"/>
      <link href="../stylesheets/lib//materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!--<title>Node Authentication</title>-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        /*body        { padding-top:80px; word-wrap:break-word; }*/
        .material-icons, .icon-text {
      vertical-align: middle;
    }
        nav ul a{
            font-size: 18px;
        }
        nav ul a:hover{
            color:#fff;
            text-decoration: none;
        }
    </style>
</head>
<body>
   
<nav class="green lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout" >Logout</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/logout" style="font-size:18px">Logout</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      
      <h1 class="header orange-text">Meu Perfil</h1>
      <br>

    </div>
  </div>

    
<div class="container">

    
    

    

        <!-- LOCAL INFORMATION -->
       
                <h3><span class="fa fa-user"></span> <%= user.nome %></h3><br><br>

                    <p>
                        <!--<strong>id</strong>: <%= user._id %><br>-->
                        <!--<i class="material-icons">perm_identity</i>
                        <strong class="vertical-align: middle" style="font-size:16px">Nome</strong>: <%= user.nome %><br><br>-->
                        <i class="small material-icons">mail</i>
                        <strong class="vertical-align: middle" style="font-size:16px">E-mail</strong>: <%= user.email %><br><br>
                        <i class="small material-icons">picture_in_picture</i>
                        <strong class="vertical-align: middle" style="font-size:16px">Endereço</strong>: <%= user.endereco %><br><br>
                        <i class="small material-icons">picture_in_picture</i>
                        <strong class="vertical-align: middle" style="font-size:16px">Cidade</strong>: <%= user.cidade %><br><br>
                        <i class="small material-icons">picture_in_picture</i>
                        <!--<strong>password</strong>: <%= user.password %>-->
                        <strong class="vertical-align: middle" style="font-size:16px">Estado</strong>: <%= user.estado %><br><br>
                        <i class="small material-icons">picture_in_picture</i>
                        <strong class="vertical-align: middle" style="font-size:16px">Pais</strong>: <%= user.pais %><br><br>
                        <i class="small material-icons">contact_phone</i>
                        <strong class="vertical-align: middle" style="font-size:16px">Telefone</strong>: <%= user.telefone %><br><br>
                        <i class="small material-icons">contact_phone</i>
                        <strong class="vertical-align: middle" style="font-size:16px">Celular</strong>: <%= user.celular %><br><br>
                        <i class="small material-icons">perm_identity</i>
                        <strong class="vertical-align: middle" style="font-size:16px">CPF</strong>: <%= user.CPF %><br><br>
                        <i class="small material-icons">perm_identity</i>
                        <strong class="vertical-align: middle" style="font-size:16px">RG</strong>: <%= user.RG %><br><br>
                        <i class="small material-icons">perm_identity</i>
                        <strong class="vertical-align: middle" style="font-size:16px">Data de Nascimento</strong>: <%= user.dataNasc %><br><br>
                        <i class="small material-icons">attach_money</i>
                        <strong class="vertical-align: middle" style="font-size:16px">Saldo</strong>: <%= user.saldo %><br><br><br>
                        <h1 class="header orange-text">Minhas Reservas</h1><br><br>

                        <strong class="vertical-align: middle" style="font-size:16px">Saldo</strong>: <%= user.quartos[0].tipo %><br><br>
                        <strong class="vertical-align: middle" style="font-size:16px">Saldo</strong>: <%= user.quartos[0].nome %><br><br>
                        <strong class="vertical-align: middle" style="font-size:16px">Saldo</strong>: <%= user.quartos[0].desc %><br><br>
                        <strong class="vertical-align: middle" style="font-size:16px">Saldo</strong>: <%= user.quartos[0] %><br><br>
                        
                        <!--/*tentar usar o angular aqui pra fazer o repeater dos quartos */-->
                    </p>

      

    </div>



<footer class="page-footer red">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>



  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../javascripts/lib/materialize.min.js"></script>
</body>






</html>
